/* mixins, variables, etc. */

/* $grayMediumLight: #f1f1f1; */

/**, *::before, *::after {*/
/*  box-sizing: border-box;*/
/*}*/

/* universal */

.link {
  stroke-width:3px;
}

svg {
  background-color: #f1f1f1;


}

html, body {
  height: 100vh;
  margin: 0;
}

html {
  background-color: #f1f1f1;
}

body {
  min-width: 780px;
  background-color: #f1f1f1;
}

.svg {
    max-height: 1080px;
}


